body {
    background-color: #263238;
    font-family: 'Roboto', sans-serif;
    color: white;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #4f5b62;
}

a {
    color: white;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

#rules {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    padding: 30px;
    text-align: center;
}

#address {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
}

#metamask {
    display: flex;
}

.addressItem {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#status {
    padding: 30px;
}

#copyAddress {
    margin-left: 10px;
    height: 30px;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#footer {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

#transactions {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    align-self: flex-start;
}

#play {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: dashed;
    border-width: 2px;
    border-color: white;
    padding: 30px;
}

.metamask-btn {
    background-color: #ff6f00;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
}

.play-btn {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
}

.withdraw-btn {
    background-color: #0277bd;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
}
